<IfModule mod_rewrite.c>
    # Ensure mod_negotiation is enabled
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    
    # Enable URL rewriting
    RewriteEngine On

    # Handle Authorization Header for applications that require it
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Directory
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirect all requests to the front controller (index.php)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>